<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Filter</title>
</head>
<body>
    <form action="#" method="post">
        <p>
            Message <input type="text" required name="Message">
        </p>
        <input type="submit" value="Send">
    </form>
    <p>
        Its a {{prediction}}
    </p>
</body>
</html>